// BACKGROUND
@keyframes cloudFades {
	to {
		left: 120%;
	}
}

@keyframes sunFades{
	to{
		top:110%;
	}
}

@keyframes moonRises{
	to{
		top: 2%;
	}
}

@keyframes nightStarts{
	to{
		background-color: rgb(56, 56, 199);
	}
}

@keyframes starShines{
    from{
        color: transparent;
    }

    to{
        color: gold;
    }
}

//BALL
@keyframes ballOpensMouth{
	to{
		width: 33%;
		height: 33%;
	}
}
@keyframes bigEyes{
	to{
		width: 30%;
		height: 30%;
	}
}

@keyframes ballColour{
	to{
		background-color: tomato;
	}
}

@keyframes rollToTheEdge {
	0% {
		top: 10%;
		left: 0;
	}
	25% {
		top: 10%;
		left: 4.5%;
	}
	50% {
		top: 11%;
		left: 9%;
	}
	75% {
		top: 14.5;
		left: 13.5%;
	}
	100% {
		top: 20%;
		left: 18%;
	}
}

@keyframes fall {
	from {
		top: 20%;
		left: 18%;
	}
	100% {
		top: 80%;
		left: 35%;
	}
}

@keyframes bounce {
	0% {
		left: 35%;
		top: 80%;
	}
	16.7% {
		left: 44%;
		top: 60%;
	}
	33.33% {
		left: 52%;
		top: 80%;
	}
	50% {
		left: 59%;
		top: 66%;
	}
	66.7% {
		left: 65%;
		top: 80%;
	}
	83.33% {
		left: 70%;
		top: 72%;
	}
	100% {
		left: 75%;
		top: 80%;
	}
}

@keyframes rollToHole {
	0% {
		top: 80%;
	}
	100% {
		top: 80%;
		left: 85%;
	}
}


@keyframes ballGoesDown {
	0% {
		top: 80%;
		left: 85%;
	}
	90% {
		top: 90%;
		left: 85%;
	}
	100% {
		top: 20%;
		left: 85%;
	}
}

//SHELF
@keyframes rotate {
	25% {
		transform: rotate3d(1, 0, 1, 10deg);
	}
	50% {
		transform: rotate3d(1, 0, 1, 20deg);
	}
	750% {
		transform: rotate3d(1, 0, 1, 30deg);
	}
	100% {
		transform: rotate3d(1, 0, 1, 40deg);
	}
}

//BALIST
@keyframes shootBallUp {
	from {
		top: 90%;
	}
	90% {
		top: 100%;
	}
	100% {
		top: 90%;
	}
}

//CUBIC
@keyframes changeColourFirst {
	20% {
		background-color: lime;
	}

	40% {
		background-color: tomato;
	}

	60% {
		background-color: gold;
	}

	80% {
		background-color: royalblue;
	}

	100% {
		background-color: #fff;
	}
}
@keyframes changeColourSecond {
	20% {
		background-color: royalblue;
	}

	40% {
		background-color: white;
	}

	60% {
		background-color: royalblue;
	}

	80% {
		background-color: lime;
	}

	100% {
		background-color: tomato;
	}
}
@keyframes changeColourThird {
	20% {
		background-color: white;
	}

	40% {
		background-color: gold;
	}

	60% {
		background-color: lime;
	}

	80% {
		background-color: tomato;
	}

	100% {
		background-color: royalblue;
	}
}
